<h1>Welcome to Road Spotter</h1>

<p>With this app you'll be able to tell the Department of Transportation what you think of our city streets! Please let us know of any issues you're experiencing and we'll assess whether it is something we're able to fix.</p>

<p>We appreciate your input and thank you for reporting!</p>

<%= if_logged_out_display_signup %>
<br>
<%= if_logged_out_display_login %>
<br>
<%= link_to 'Sign in through Facebook', '/auth/facebook' %>